.about-section {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    img {
        margin-bottom: 2rem;
        order: 1;
        width: 10rem;
    }
    p {
        width: 100%;
        order: 2;
    }
}

// MEDIA QUERIES
@media screen and (min-width: 576px) {
    .about-section {
        align-items: flex-start;
        justify-content: space-between;
        img {
            margin-bottom: 0;
            width: 25%;
        }
        p {
            width: 65%;
        }
    }
}

@media screen and (min-width: 768px) {
    .about-section {
        padding: 2rem;
        justify-content: space-evenly;
        img {
            max-width: 12rem;
        }
        p {
            max-width: 30rem;
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    .about-section {
        max-width: 70vw;
        margin: 2rem auto;
    }
}