.slider__header {
    padding: 2rem 1rem 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
}

.slider__product {
    margin-right: 1rem;
}

.product-slider {
    padding-left: 1rem;
    img {
        max-height: 25.5rem;
    }
}

.slider__link {
    cursor: move;
}

// MEDIA QUERIES
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    .product-slider,
    .slider__header {
        padding-left: 2rem;
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    .product-slider,
    .slider__header {
        padding-left: 1rem;
    }
}