.gallery {
    display: flex;
    flex-flow: row wrap;
    padding: 0 1rem 1rem;
}

.gallery__link {
    display: block;
}

.gallery__product {
    margin-bottom: 1rem;
    line-height: 1.2rem;
    background-color: transparent;
    img {
        display: block;
        margin-bottom: 0.5rem;
    }
}

// PAGINATION
.pagination {
    display: flex;
    .active {
        font-weight: bold;
        cursor: default;
    }
}

.pagination__link {
    cursor: pointer;
}

// MEDIA QUERIES
@media screen and (min-width: 576px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .gallery__product {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        padding: 0 2rem 2rem;
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    .gallery {
        max-width: 70vw;
        margin: 0 auto;
        padding: 0 0 2rem;
    }
}