@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,300&family=Roboto:wght@300;500&display=swap");
:root {
    font-size: 16px;
}

// HEADER
.menu,
.accounts-container {
    text-transform: uppercase;
}

.accounts-container {
    .link {
        font-size: 0.8rem;
        font-style: italic;
    }
}

.dropdown__link {
    text-transform: none;
    font-size: 0.9rem;
    &:hover {
        text-decoration: line-through;
    }
    span {
        font-weight: 500;
    }
}

// SIDENAV
.sideNav {
    .dropdown__group {
        line-height: 1.5rem;
    }
    .dropdown__link {
        font-size: 1rem;
    }
}

.accounts-container--sidenav {
    .link {
        font-size: 0.9rem;
        font-style: italic;
    }
}

// HERO
.hero__text {
    h2 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 1.6rem;
        color: $p500;
    }
}

// PRODUCT GALLERY
.gallery__product {
    line-height: 1.1rem;
    h3 {
        color: $p500;
        font-weight: 500;
        font-size: 1.1rem;
    }
    h5 {
        color: $p400;
        font-weight: 300;
        font-style: italic;
        font-size: 0.9rem;
    }
}

// ABOUT SECTION
.about-section {
    p {
        color: $p200;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }
}

// PRODUCT SLIDER
.slider__header {
    p {
        text-transform: uppercase;
        font-weight: 500;
        color: $p500;
        font-size: 1.1rem;
    }
}

.slider__product {
    line-height: 1.1rem;
    h3 {
        color: $p500;
        font-size: 0.9rem;
    }
    h5 {
        color: $p400;
        font-size: 0.8rem;
        font-weight: 300;
        font-style: italic;
    }
}

.footer {
    p {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
    .footer__title {
        text-transform: uppercase;
        font-weight: 500;
    }
    .footer__link,
    .footer__text {
        color: $p400;
    }
    .footer__copyright {
        font-size: 0.7rem;
        font-style: italic;
    }
}

@media all and (min-width: 576px) {
    // HERO
    .hero__text {
        h2 {
            font-size: 4.5rem;
        }
    }
}

@media all and (min-width: 768px) {}

@media all and (min-width: 992px) {
     :root {
        font-size: 18px;
    }
}

@media all and (min-width: 1200px) {
     :root {
        font-size: 19px;
    }
}