@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,300&family=Roboto:wght@300;500&display=swap");
:root {
    font-size: 16px;
}

// NAV
.menu,
.accounts-container {
    text-transform: uppercase;
}

.menu {
    .link {
        font-size: 0.9rem;
    }
}

.accounts-container {
    .link {
        font-size: 0.8rem;
        font-style: italic;
    }
}

.dropdown__link {
    text-transform: none;
    font-size: 0.9rem;
    &:hover {
        text-decoration: line-through;
    }
    span {
        font-weight: 500;
    }
}

// PHONES
@media screen and (min-width: 576px) {}

// TABLETS
@media screen and (min-width: 768px) {}

// DESKTOP
@media screen and (min-width: 992px) {
     :root {
        font-size: 18px;
    }
}

// HI RES
@media screen and (min-width: 1200px) {
     :root {
        font-size: 20px;
    }
}