@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,300&family=Roboto:wght@300;500&display=swap");
:root {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    line-height: 1.3;
}

h1 {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 3.052rem;
    letter-spacing: 1.2rem;
}

h2 {
    font-size: 2.441rem;
    letter-spacing: 1.6rem;
    color: $p500;
}

h3 {
    font-size: 1.153rem;
    color: $p500;
    font-weight: 300;
}

h4 {
    font-size: 1.063rem;
}

h5 {
    font-size: 1rem;
    font-weight: 300;
}

p {
    font-size: 0.9rem;
    color: $p200;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

p,
.dropdown__link,
.accounts-container .link,
.accounts-container--sidenav .link {
    font-size: 0.9rem;
}

small,
.text_small,
.breadcrumb,
.category__sort {
    font-size: 0.8rem;
}

// HEADER
.menu,
.accounts-container {
    text-transform: uppercase;
}

.accounts-container {
    .link {
        font-style: italic;
    }
}

.dropdown__link {
    text-transform: none;
    &:hover {
        text-decoration: line-through;
    }
    span {
        font-weight: 500;
    }
}

// SIDENAV
.sideNav {
    .dropdown__group {
        line-height: 1.5rem;
    }
    .dropdown__link {
        font-size: 1rem;
    }
}

.accounts-container--sidenav {
    .link {
        font-style: italic;
    }
}

// GALLERY
.gallery__product {
    p {
        font-style: italic;
    }
}

// PRODUCT SLIDER
.slider__header {
    p {
        text-transform: uppercase;
        font-weight: 500;
        color: $p500;
    }
}

.slider__product {
    p {
        font-style: italic;
    }
    h5 {
        color: $p400;
    }
}

.footer {
    .footer__title {
        text-transform: uppercase;
        font-weight: 500;
        color: $p400;
        margin-bottom: 0.5rem;
    }
    .footer__link,
    .footer__text {
        color: $p400;
    }
    .footer__copyright {
        font-size: 0.7rem;
        font-style: italic;
    }
}

@media all and (min-width: 576px) {
    // HERO
    .hero__text {
        h2 {
            font-size: 4.5rem;
        }
    }
    // CATEGORY
    .category__title {
        font-size: 3rem;
        line-height: 2.8rem;
    }
}

@media all and (min-width: 768px) {}

@media all and (min-width: 992px) {
     :root {
        font-size: 18px;
    }
}

@media all and (min-width: 1200px) {
     :root {
        font-size: 19px;
    }
}